@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->

<!-- /.content-header -->
<!-- Main content -->
<div class="content d-flex align-items-center justify-content-center">
    
        <h1 style="margin-top:10rem" class="font-weight-light">Manage your products with Producty</h1>
  
</div>
<!-- /.content -->