
@model Web.Models.BaseModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-header d-flex">
  <h2 class="text-teal" style="margin-left:50%;transform:translateX(-50%)">Cart</h2>
</div>

<div class="content">
    <div class="data-table-container">
        <table id="data-table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th colspan="6" style="text-align:right">Total:</th>
                    <th> </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button id="shopBtn" class="btn btn-primary">Order <i class="fas fa-shopping-cart"></i></button>
    </div>
</div>
<div class="dark-overlay row align-items-center justify-content-center ">
    <div class="lds-dual-ring">

    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
           
            var datatable=$("#data-table").DataTable(
                {
                    searching: false,
                    ajax: {
                        url: "@Model.ServerUrl" + "/Shop/GetCartProducts",
                        dataSrc: ""
                    },
                    drawCallback: function(){
                        updateTotal();
                        if ($("#data-table").DataTable().data().any())
                            $("#shopBtn").attr("disabled", false);
                        else if (!$("#data-table").DataTable().data().any())
                            $("#shopBtn").attr("disabled", true);
                        updateAddToCartCount();
                    },
                    
                    columnDefs: [
                        {
                            targets: -3,//-2
                            searchable: false,
                            orderable: false,
                            data: null,
                            defaultContent:
                              `<select class="form-control productQty" name="Qty">` +
                                    `
                               @for (int i=1; i<=100;i++)
                               {
                                   <option value='@i'>@i</option>
                               }
                                    `+
                                 `</select>`
                        },
                        {
                            targets: -1,
                            searchable: false,
                            orderable: false,
                            data: null
                            
                        }
                    ],
                    columns: [
                        {
                            data: "name",
                            render: function (data, type, product) {
                                return `<a data-productId=${product.product_id} class="Name" href="@Model.ServerUrl/Product/Detail/${product.product_id}">${data}</a>`
                            }
                        },
                        {
                            data: "price",
                            render: function (data) {
                                return `<span class="Price">${data}</span>`
                            }
                        },
                        {
                            data: "category",
                            render: function (data) {
                                return `<span class="Category">${data}</span>`
                            }
                        },
                        {
                            data: "description",
                            render: function (data) {
                                return `<span class="Description">${data}</span>`
                            }
                        },
                        {},
                        {
                            data: null,
                            render: function (data, type, product) {
                                return `<span class="Amount"> Rs ${product.price}</span>`
                            }
                           
                        },
                        {
                            data: null,
                            render: function (data, type, product) {
                                return `<button data-id=${product.product_id} class="deleteFromCart btn btn-danger">Remove</button>`
                            }
                        }
                   

                    ]
                }
            );
            $(".data-table-container").on("click", ".deleteFromCart", function (e) {
                var data = $(e.target).attr("data-id");
                var cartCookie = $.cookie("CartProducts");
                var arr = cartCookie.split("-");
                arr.splice(arr.indexOf(data), 1);
                
                if (arr.length == 0) {
                    console.log("gets Triggered!");
                    $.removeCookie('CartProducts', { path: '/' });
                }
                else
                    $.cookie("CartProducts", arr.join("-"), { path: '/', expires: 10 });
                var tr = $(e.target).closest("tr");
                datatable.row(tr).remove().draw();

                updateAddToCartCount();
                
            });
            $(".data-table-container").on("change", ".productQty", function (e) {

                var tr = $(e.target).closest("tr");
                var amount = datatable.row(tr).data().price * $(datatable.row(tr).node()).find(".productQty").val(); 

                tr.find(".Amount").text(`Rs ${amount}`);
                updateTotal();
                
            });
            $("#shopBtn").on("click", function (e) {

                var itemsList = [];

                $("#data-table").find("tbody tr").each(function (i, e) {
   
                    var quantity = $(e).find(".productQty").val();
                    var product_id = $(e).find(".Name").attr("data-productId");
                    
                    var cartProduct = { quantity, product_id };


                    itemsList.push(cartProduct);
                });
                
                $.ajax({
                    type: "POST",
                    url: "@Model.ServerUrl" + "/Shop/ProceedToPay",
                    headers: { 'Access-Control-Allow-Origin': '*' },
                    crossDomain: true,
                    data: {
                        "list": itemsList,
                        "Total": datatable.column(6).footer().innerText.replace("Rs","")
                    },
                    success: function (success) {


                        $(".content").html(success);

                        //if (success != -1) {

                            
                        //    $.removeCookie("CartProducts", { path: '/' });
                        //    datatable.clear().draw();
                        //    updateAddToCartCount();
                            
                        //}
                            
                        //else
                        //    alert("Some error occured");
                    }
                    
                })
            });
            
        });

        function updateTotal() {
            var table = $("#data-table");
            var datatable = $("#data-table").DataTable();
            var total = 0;
            table.find(".Amount").each(function (i, e) {
                var amount = parseInt(e.textContent.replace("Rs", '').trim());
                total += amount;
            });
            
            $(datatable.column(6).footer()).html(`Rs ${total}`);
        }

        function caller(data) {
            if (data) {
                $.removeCookie("CartProducts", { path: '/' });
                updateAddToCartCount();
                location.reload();
            }
            else {
                bootbox.alert("Some Error Occured :(");
            }
        }
        function DisplayOverlay() {
            $.LoadingOverlay("show");
            
            console.log("Display Started");
        }
        function RemoveOverlay() {
            $.LoadingOverlay("hide")
            console.log("Display Removed");
        }

    </script>    
    
}
