
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error{
    font-size:12px;

    color:red;
}
td.details-control {
    background: url(../Content/Images/plus-circle-solid.svg) no-repeat center center;
    background-size:20px;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url(../Content/Images/minus-circle-solid.svg) no-repeat center center;
    background-size: 20px;
}