@model Web.Models.BaseModel

@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header d-flex">
    <h2 class="text-teal" style="margin-left:50%;transform:translateX(-50%)">Search Products</h2>
</div>


<div class="content  ">
    <div class="input-group justify-content-center " style="margin:0 auto">

        <input id="keywords" type="search" class="form-control" placeholder="Search" aria-label="Search" />

        <div class="input-group-append">
            <button id="search-btn" class="btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div id="empty-container" style="min-height:60vh" class="mt-4">
        
        <div id="productContainer" >
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Description</th>
                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script>
       
        function renderTable(data) {
            $("#data-table").DataTable({
                searching: false, data: data, columns: [

                    {
                        data: "name",
                        render: function (data, type, product) {
                            return `<a href="@Model.ServerUrl/Product/Detail/${product.product_id}">${data}</a>`
                        }
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "category"
                    },
                    {
                        data: "description"
                    }
                ]})
        }

        $(function () {
            var table = $("#data-table").DataTable({ data: [], searching: false });
            $("#search-btn").on("click", function () {
                
                var keywords = $("#keywords");
                
                $.ajax({
                    type: "get",
                    dataType: "json",
                    headers: { 'Access-Control-Allow-Origin': '*' },
                    crossDomain: true,
                    url: "@Model.ServerUrl" + "/Product/SearchByKeyword",
                    data: {
                        keywords: $("#keywords").val()
                    },
                    success: function (data) {
                        $("#data-table").DataTable().clear().destroy();
                        renderTable(data);      
                    }
                });

            });
        });

    </script>
}
